.contenedor-redondo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.contenedor-redondo img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.container-profile {
  display: flex;
  gap: 1vw;
  align-items: center;
  margin-left: 70%;
}

.desplazoDerecha{
  margin-left: 1%;
}

.fondoAgenda{
  background-color: #FFE489;
  height: 90vh;
}
