.contenedor-redondo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.contenedor-redondo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


img{
  cursor: pointer;
}

.container-profile {
  display: flex;
  gap: 1vw;
  align-items: center;
  margin-left: auto;
}

.encimaImagen{
  opacity: 1;
  transition: .5s ease;
}

.encimaImagen:hover{
  opacity: 0.5;

}

.desplazoDerecha{
  margin-left: 1%;
}

.fondoAgenda{
  background-color: #FFE489;
  height: 90vh;
}

.submenu-wrap{
  position: absolute;
  top: 100%;
  right: 0%;
  width: 15vw;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;  
}

.submenu-wrap.open-menu{
  max-height: 400px;
}

.submenu{
  background-color: white;
  padding: 20px;
  margin: 10px;
}

.position-formAddPerson{
  position: relative;
  right: 5%;
}

.onLoginRegister:hover{
  background-color: blue;
}