.contenedor-redondo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.contenedor-redondo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.pointer{
  cursor: pointer;
}

.container-profile {
  display: flex;
  gap: 1vw;
  align-items: center;
  margin-left: auto;
}

.encimaImagen{
  opacity: 1;
  transition: .5s ease;
}

.encimaImagen:hover{
  opacity: 0.5;

}

.desplazoDerecha{
  margin-left: 1%;
}

.fondoAgenda{
  background-color: #FFE489;
  min-height: 100vh;
}

.positionDivRoute{
  position: relative;
  top: 10vh;
}

.buttonSize{
  width: 19vw;
}

.rowSize{
  width: 20vw;
  height: 9.5vh;
}

.submenu-wrap{
  position: absolute;
  z-index: 1000;
  top: 100%;
  right: 0%;
  width: 17vw;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;  
}

.submenu-wrap.open-menu{
  max-height: 400px;
}

.submenu{
  background-color: white;
  padding: 20px;
  margin: 10px;
}

.position-formAddPerson{
  position: relative;
  right: 5%;
}

.onLoginRegister:hover{
  background-color: blue;
}


.height-progress_bar{
  height: 8vh;
}


.position_progress_bar{
  position: relative;
  margin-top: 3vh;
  right: 12%;
}

.position_div_progress_img{
  position: relative;
  right: 12%
}

.progress-bar{
  width: auto;
}

.progress_an{
  background-color: #00d7fd;
  width: var(--pbWidth);
}

@keyframes expandAnimation {
  0% {
    width: 0;
  }
  30%{
    width: 1vw;
  }
  100% {
    width: var(--pbWidth);
  }
}

.pointerDisabled{
  cursor: not-allowed;
}